*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: center;
    border: 2px black solid;
    padding: 10px;
}

.content{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    flex-wrap: wrap;
    gap: 10px;
    background-color: lightgray;
    flex-grow: 1;
}

.items{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px black solid;
    background-color: white;
    width: 300px;
    height: 200px;
}

footer{
    display: flex;
    justify-content: center;
    border: 2px black solid;
    padding: 5px;
}



/* @media (min-width: 1230px){
    
} */

